<h1 style="text-align: center;">Frutas frescas</h1>
<div class="card-group">
  <div class="card">
    <img src="./../../../assets/images/arandanos.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Arandanos</h5>
      <p style="text-align: end;">Precio: <br> 2€/tarrina </p>
    </div>
  
    <a class="btn btn-outline-info" [routerLink]="['/']">Volver</a>
  </div>
  <div class="card">
    <img src="./../../../assets/images/Pina.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Piña</h5>
      <p style="text-align: end;">Precio: <br> 1,5€/kg</p>
    </div>
   
    <a class="btn btn-outline-info" [routerLink]="['/']">Volver</a>
  </div>
  <div class="card">
    <img src="./../../../assets/images/Granadas.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Granadas</h5>
      <p style="text-align: end;">Precio: <br>2€/kg</p>
    </div>
  
    <a class="btn btn-outline-info" [routerLink]="['/']">Volver</a>
  </div>
</div>
